@font-face {
  font-family: 'Squid Boy';
  src: url('assets/SquidBoy-Thin.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dirty Stains';
  src: url('assets/DirtyStains-DEMO.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}



:root {
  --border-size: 64px;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Squid Boy';
  font-size: 1.85em;
  color: #4B65D5;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

span.bigtext {
  font-family: 'Dirty Stains';
  font-size: 0.9rem;
}
span.smalltext {
  font-size: 0.8rem;

}

p {
  margin: 0.5rem 0;
}

#bg {


  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: var(--border-size) var(--border-size) 1fr var(--border-size) 1fr var(--border-size) var(--border-size) 1fr var(--border-size) 1fr 1fr var(--border-size);
  grid-template-rows: var(--border-size) var(--border-size) var(--border-size) 1fr 1fr var(--border-size) var(--border-size);
  margin: 0;
  padding: 0;
}

#bg > div > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}


main {
  grid-area: 2 / 2 / -2 / -2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#main-section {
  position: relative;
  width: 100%;
  border: #4B65D5 2px solid;
  border-radius: 16px;
  background-color: white;
  box-sizing: border-box;
  flex-grow: 2;

  /* height: 80%; */

}

#main-section-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

#main-logo {
  width: 100%;
  margin-bottom: -14%;
}

#main-ceiling {
  width: 60%;
  margin-top: -44%;
  margin-right: -15%;
  float: right;
  position: relative;
}

#main-ceiling img {
  width: 100%;
  height: auto;
  position: absolute;
}

#main-ceiling p {
  position: absolute;
  left: 72%;
  margin-right: -50%;
  margin-top: 22.5%;
}

#main-text {
  width: 600px;
}

#main-email {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: stretch;
  position: relative;
  top: 0.2em;
}

#main-email input {
  all: unset;
  flex-grow: 5;
  color: #4B65D5;
  outline: none;
  border: 2px solid #4B65D5;
}


#main-email input::placeholder {
  color: #4B65D5;
  opacity: 0.5;
}

#main-email button {
  all: unset;
  box-sizing: content-box;
  margin: -18px;
  padding: 18px 40px;
  background-color: #FFBB1C;
  color: white;
  outline: none;
  border-color: none;
  box-shadow: none;
  border-radius: 50%;
  transition: 0.2s;
}


#main-email button:hover {
  background-color: #FAE09F;
  /* color: #4B65D5; */
}

#main-section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  --distance: 32;
  --transition-time: 0.2s;
}

#main-section:hover #main-section-bg {
  --distance: 24;
}

#main-section-bg img {
  position: absolute;
}

#main-section-bg img:nth-child(1) {
  top: calc(var(--distance) * 1px);
  left: calc(var(--distance) * 1px);
  transition: var(--transition-time);
}

#main-section-bg img:nth-child(2) {
  top: calc(var(--distance) * 1px);
  right: calc(var(--distance) * 1px);
  transform: rotate(90deg);
  transition: var(--transition-time);
}

#main-section-bg img:nth-child(3) {
  bottom: calc(var(--distance) * 1px);
  right: calc(var(--distance) * 1px);
  transform: rotate(180deg);
  transition: var(--transition-time);
}

#main-section-bg img:nth-child(4) {
  bottom: calc(var(--distance) * 1px);
  left: calc(var(--distance) * 1px);
  transform: rotate(270deg);
  transition: var(--transition-time);
}


#merch-section {
  width: 85%;
  border: #4B65D5 2px solid;
  border-radius: 16px;
  background-color: white;
  margin-top: 32px;
  /* height: 15%; */

  /* display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 20px; */


  padding: 20px;
  
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr auto auto auto auto 1fr;
}


#merch-section p {
  font-size: 0.8rem;
  color: #FFBB1C;

}

#merch-section img {
  background-color: #4B65D5;
  border: 2px solid #FFBB1C;
}

footer {
  background-color: #FFBB1C;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 6px 32px;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
}

footer img {
  display: inline-block;
  margin: 0;
  margin-bottom: -8px;
}
footer p {
  margin: 0;
}
